# CyberPi sdkconfig — 設定
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ESP_TASK_WDT_TIMEOUT_S=15

# WiFi
CONFIG_ESP_WIFI_SSID="SmarTone_HBB_3A74"
CONFIG_ESP_WIFI_PASSWORD="6J25GJ2GB5"
CONFIG_ESP_MAXIMUM_RETRY=5

# SPI Display (ST7735)
CONFIG_SPI_MASTER_ISR_IN_IRAM=y

# I2S Audio
CONFIG_I2S_ISR_IN_IRAM=y

# HTTP
CONFIG_ESP_HTTP_CLIENT_ENABLE=y

# Partition
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
